<form action="/answer" data-turbo="false">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="ask a question">
  <input type="submit" value="Ask!">
</form>
